# Git
.git/
.gitignore

# Environment / Secrets
.env
.envrc
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Logs
logs/

# Plugins
plugins/

# Docker
docker/

# Fly.io
fly.toml

